<app-layout>  
  <app-toolbar>
    {{ title }}!
  </app-toolbar>

  <mat-card class="example-card">
    <mat-card-header>
      <input type="file" class="custom-file-input" (change)="fileChangeEvent($event)">
    </mat-card-header>
    <img style="margin: 2px;" mat-card-image [src]="imageSrc" #img *ngIf="imageSrc">
    <mat-card-content *ngIf="prediction">
      <p style="font-size: x-large;">
        This is a "{{ prediction.signName }}" sign
      </p>
    </mat-card-content>
  </mat-card>
  <router-outlet></router-outlet>
</app-layout>
